<diV *ngIf="!isLoggedInUserVolunteer()">
    <ng-container *ngTemplateOutlet="nonVolunteerProfileInfo"></ng-container>
</diV>

<diV *ngIf="isLoggedInUserVolunteer()">
    <ng-container *ngTemplateOutlet="volunteerProfileInfo"></ng-container>
</diV>

<ng-template #nonVolunteerProfileInfo>
    <mat-card class="profile-card" >
        <mat-card-header>
            <mat-card-title class="mat-card-title">
                Profile Information
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="profile-card-content" *ngIf="display">
            <p>First Name : {{ user.firstName }}</p>
            <p>Last Name : {{ user.lastName }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Role: {{ loggedInUserRole }}</p>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #volunteerProfileInfo>
    <mat-card class="profile-card" >
        <mat-card-header>
            <mat-card-title class="mat-card-title">
                Profile Information
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="profile-card-content" *ngIf="display">
            <p>First Name : {{ volunteer.firstName }}</p>
            <p>Last Name : {{ volunteer.lastName }}</p>
            <p>Email : {{ volunteer.email }}</p>
            <p>Role: {{ loggedInUserRole }}</p>
            <p>Date of Birth : {{ volunteer.dateOfBirth | date:'longDate' }}</p>
            <p>Height : {{ volunteer.height }} cm</p>
            <p>Email : {{ volunteer.weight }} Kgs</p>
        </mat-card-content>
    </mat-card>
</ng-template>

<app-volunteer-dashboard *ngIf="this.loggedInUserRole=='Volunteer'"></app-volunteer-dashboard>
